<section id="projects" class="container py-5">
  <h2 class="text-center mb-5">Meus Projetos</h2>
  <div class="row" *ngFor="let repo of repos">
    <div class="col-md-4 mb-4">
      <div class="card p-3">
        <!-- Nome e descricao do repositorio no Github -->
        <h5>{{ repo.name }}</h5>
        <p>{{ repo.description || "Sem descrição" }}</p>

        <!-- pega o icone das linguagens utilizadas no Repositorio no Github -->
        <div *ngIf="repo.language">
          <i [class]="getLanguageIcon(repo.language)"></i>
          <span> - {{ repo.language }}</span>
        </div>

        <div
          *ngIf="repo.additionalLanguages && repo.additionalLanguages.length"
        >
          <span>Linguagens adicionais:</span>
          <ul>
            <li *ngFor="let lang of repo.additionalLanguages">
              <i [class]="getLanguageIcon(lang)"></i>
              <span>{{ lang }}</span>
            </li>
          </ul>
        </div>

        <a [href]="repo.html_url" target="_blank" class="btn btn-primary d-flex align-items-center mt-3">
          <i class="fab fa-github me-2"></i> Ver no GitHub
        </a>
      </div>
    </div>
  </div>
</section>
