@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-background: #151F2E;
  --color-text: #9BADBD;
  --color-text-hover:#FFFFFF;
}