main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background);
  align-items: center;
  height: 100vh;
  gap: 1rem;
  padding: 1rem;

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      padding: 2rem;
      transition: all 0.5s ease;
      border-radius: 100%;
      opacity: 0;
      animation: disappear 1ms ease-in-out;
      animation-timeline: scroll();
    }
  }

  .infomations-about-me {
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    .title {
      line-height: 1.5;
      color: var(--color-text);

      h1 {
        font-size: xxx-large;
      }
    }

    .short-text {
      color: var(--color-text);
      text-indent: 1rem;
      text-align: justify;
    }

    .social-media {
      color: var(--color-text);
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      .icons {
        display: grid;
        grid-template-columns: repeat(4, 40px);
        gap: 0 1rem;

        svg {
          color: var(--color-text);
        }

        svg:hover {
          color: var(--color-text-hover);
        }
      }

      .content-social-media {
        display: grid;
        width: 80%;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1rem;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 1rem;
        border: 2px solid black;

        .copy-icon {
          display: flex;
          cursor: pointer;
          justify-content: flex-end;
          height: 100%;
          left: 0;
        }
      }

      .content-social-media.active::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
        transform: skewX(-45deg);
        transition: none;
      }

      .content-social-media.active::after {
        animation: shine 1s ease-out;
      }
    }
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    max-width: 100%;
  }
  to {
    opacity: 0;
    max-width: 30%;
  }
}