main{
  height: 100vh;
  padding: 1rem;
  background-color: black;

  .title{
    display: flex;
    margin-top: 5rem;
    color: var(--color-text);
    justify-content: center;
  }

  section {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 20px;
  }
}