<main>
  <h1 class="title">Meus Projetos</h1>

  <section>
    <h1>Biblioteca Digital</h1>
    <p>Projeto de uma biblioteca digital desenvolvido em PHP e MySQL, sem o uso de framworks.</p>
    <button>Visualizar</button>
    <button>baixar .zip</button>
  </section>

  <section>
    <h1>Python Testes</h1>
    <p>Alguns programas curtos para explorar o python.</p>
    <button>Snake Game</button>
    <button>Web Scraping</button>
  </section>

  <section>
    <h1>Portfólio em Angular</h1>
    <p>Este portfólio foi desenvolvido individualmente por mim utilizando o framework Angular.</p>
    <button>Visualizar</button>
    <button>baixar .zip</button>
  </section>
</main>
