main{
  padding: 1rem;
  background-color: black;

  .title{
    display: flex;
    margin-top: 5rem;
    color: var(--color-text);
    justify-content: center;
  }

  section {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 20px;

    button {
      color: var(--color-text);
      background-color: black;
      padding: 1rem;
      margin: 1rem;
    }
  }
}